.psp-dashboard {
  width: 100%;
  padding: 20px;
}
.competency-table td:nth-child(5),
.competency-table td:nth-child(8),
.competency-table td:nth-child(10),
.competency-table td:nth-child(11) {
  background-color: #ffcc80;
}
.table-container {
  width: 100%;
  max-height: 350px; /* Adjust as needed */
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.competency-table {
  width: 100%;
  min-width: 1200px; /* Forces horizontal scroll if columns overflow */
  border-collapse: collapse;
}

.competency-table th,
.competency-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevents text wrapping */
}

.competency-table thead {
  background-color: #f5f5f5;
  position: sticky;
  top: 0; /* Keeps headers fixed during scroll */
  z-index: 2;
}

.summary-row {
  background-color: #e0f7fa;
  font-weight: bold;
}

.low {
  background-color:  #f44336; /* Red */
  color: #721c24;
}

.medium {
  background-color: #ffeb3b;; /* Yellow */
  color: #856404;
}

.high {
  background-color: #4caf50; /* Green */
  color: #155724;
}